%form{ action: user_omniauth_authorize_path(:facebook) }
  .hero
    .hero-inner
      .hero-logo
        / "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
        %img{:alt => "", :src => 'http://i.imgur.com/tScLdIN.png' }
      .hero-copy
        %h1 Soul Circuits
        %button
          %i.fa.fa-facebook-square
          Login
